@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');

body{
    margin: 0px;
    padding: 0px;
}
main{
    padding: 16px;

}
.four-equal-columns{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px;

}
h1{
    color: pink;
    font-family: 'Mogra', cursive;
}
footer{
    display: grid;
    grid-area: footer;
    padding: 60px;
    background-color: palevioletred;
    font-family: 'Mogra', bold;
    color: white;
    justify-items: center;
    align-items: center;

    
    bottom: 0

}
nav{
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: palevioletred;
    color: white;
    font-family: 'Mogra', cursive;
}
a {
    color: green;
}
a:hover {
    background-color: palevioletred;
}
tr:nth-child(even) {
        background-color:pink
}
